div.board_wrap {
	float: left;
	border: 1px solid #d5c3a2;
	position: relative;
	border-radius:5px;
}

div.board {
	width: 480px;
	height: 480px;
	position: relative;
	border-radius:5px;
}

div.square {
	border: 1px solid #d5c3a2;
	position: absolute;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 8px;
}

div.specialtext {
	position: absolute;
	top: 10px;
	left: 8px;

}

div.square.normal {
	background-color: #e8ddc7;
}

div.square.doubleletter {
	background-color: #3ef;
}

div.square.tripleletter {
	background-color:#77f;
}

div.square.doubleword {
	background-color:#f9b;
}

div.square.tripleword {
	background-color:#f55;
}



