#scrabbleground {
    position: absolute;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    z-index: 10;
}

body {
  font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif
}

.round {
    margin-top: 10px;
}

.left {
    width: 25%;
    position: absolute;
}

.mid {
    width: 50%;
    left: 25%;
    position: absolute;
}

.right {
    left: 75%;
    width: 25%;
    position: absolute;
}

.liscrabble-board-wrap {
    width: 600px;
    height: 600px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin: auto;
}

.main {
    margin-top: 20px;
}

.rack {
    position: relative;
    margin: auto;
    height: 40px;
    width: 390px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.potential-score {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.rack-slot {
    position: relative;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    height: 100%;
    width: 40px;
}

.action-buttons {
    position: relative;
    width: 300px;
    margin: auto;
    padding-left: 25px;
}

.rack-button {
    float: left;
    height: 100%;
}

.round-table {
    position:relative;
    margin:auto;
    overflow: auto;
    max-height: 490px;
    width: 75%;
    border:1px solid #000000;
}

.round-table table {
  width: 100%;
}

.round-table tr:nth-child(odd){ background-color:#ffaa56; }
.round-table tr:nth-child(even){ background-color:#ffffff; }

.round-table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
  padding: 5px;
	text-align:left;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.round-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.round-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.round-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.submit-move-button {
    margin-right: 10px;
}

.score-board {
  margin-bottom: 20px;
}

.highlighted-slot {
    border: 2px solid red;
}

.chat-box {
    position: relative;
}

.chat-messages {
    overflow: auto;
    height: 550px;
    width: 300px;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-input {
    width: 300px;
}

.chat-user {
    padding-right: 10px;

}
