#scrabbleground {
    position: absolute;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    z-index: 10;
}

.round {
    margin-top: 10px;
}

.liscrabble-board-wrap {
    width: 30vw;
    height: 30vw;
    min-width: 600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-top: 20px;
}

.rack {
    position: relative;
    margin: auto;
    height: 40px;
    width: 390px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.potential-score {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.rack-slot {
    position: relative;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    height: 100%;
    width: 40px;
}

.action-buttons {
    position: relative;
    width: 300px;
    margin: auto;
    padding-left: 25px;
}

.rack-button {
    float: left;
    height: 100%;
}

.round-table {
    position:relative;
    margin:auto;
    overflow: auto;
    max-height: 520px;
    width: 75%;
    border:1px solid lightgray;
}

.round-table table {
  width: 100%;
}

.round-table tr:nth-child(odd){ background: rgba(183,222,237,1);
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );}
.round-table tr:nth-child(even){ background-color:#ffffff; }

.round-table td{
	vertical-align:middle;
	border:1px solid lightgray;
	border-width:0px 1px 1px 0px;
  padding: 5px;
	text-align:left;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.round-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.round-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.round-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.submit-move-button {
    margin-right: 10px;
}

.score-board {
  margin-bottom: 20px;
}

.highlighted-slot {
    border: 2px solid red;
}

.chat-box {
    position: relative;
}

.chat-messages {
    overflow: auto;
    height: 600px;
    width: 90%;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    margin: auto;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-input {
    width: 90%;
    border: 1px solid lightgrey;
    display: block;
    margin: auto;
}

.chat-user {
    padding-right: 10px;

}
