.liscrabble-board-wrap {
    width: 600px;
    height: 600px;
}

.rack {
    margin-left: 150px;
    margin-top: 20px;
    height: 40px;
    width: 310px;
}

.rack-slot {
    position: relative;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    height: 40px;
    width: 40px;
}

.action-buttons {
    margin-left: 188px;
    margin-top: 10px;
}

.submit-move-button {
    margin-right: 10px;
}

.score-table-border {
    border: 1px solid black;

}
