body {
  font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif
}

.round {
    margin-top: 10px;
}

.left {
    width: 25%;
    position: absolute;
}

.mid {
    width: 50%;
    left: 25%;
    position: absolute;
}

.right {
    left: 75%;
    width: 25%;
    position: absolute;
}

.liscrabble-board-wrap {
    width: 600px;
    height: 600px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin: auto;
}

.main {
    margin-top: 20px;
}

.rack {
    position: relative;
    margin: auto;
    height: 40px;
    width: 350px;
    margin-bottom: 10px;
}

.potential-score {
    position: relative;
    width: 150px;
    margin: auto;

}

.rack-slot {
    position: relative;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    height: 100%;
    width: 40px;
}

.action-buttons {
    position: relative;
    width: 300px;
    margin: auto;
    padding-left: 25px;
}

.shuffle-rack-button {
    height: 100%;
}

.history {
    position:relative;
    padding-top: 15px;
    margin:auto;
    overflow: auto;
    max-height: 500px;
}

.submit-move-button {
    margin-right: 10px;
}

.score-table {
    margin: auto;
}

.score-table-border {
    border: 1px solid black;
}

.highlighted-slot {
    border: 2px solid red;
}

.chat-box {
    position: relative;
}

.chat-messages {
    overflow: auto;
    height: 550px;
    width: 300px;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-input {
    width: 300px;
}

.chat-user {
    padding-right: 10px;

}
